@media (min-width: 300px) and (max-width: 768px) {
  .navbar-section {
    margin-top: 5px;
  }
  .nav-link {
    position: absolute;
    top: 100px;
    right: 38px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: blanchedalmond;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    padding: 12px;
  }

  .nav-box {
    display: none;
  }
  .nav-box.show {
    display: block;
  }

  .nav-link li {
    padding: 16px;
    transition: all 0.8s ease-in-out;
  }
  .nav-link li:hover {
    background-color: green;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 3px 3px 10px grey, -3px -3px 10px grey;
  }

  .nav-link li:hover a {
    color: white;
  }

  #humburgerIcon {
    display: block;
  }

  .sign {
    font-size: 1.2rem;
    padding: 0.5rem 1.1rem;
  }
  .sign i {
    font-size: 1.3rem;
  }

  /* HERO SECTION  */

  .hero-section {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 40px;
    margin-right: 40px;
  }

  .hero-content h1 {
    font-size: 3.5rem;
    margin: 0 auto;
  }

  .hero-social {
    display: flex;
    flex-direction: column;
  }

  .hero-social button {
    width: 100%;
  }

  .icons {
    display: flex;
    gap: 25px;
  }

  .hero-img img {
    width: 500px;
    height: 500px;
    margin-right: 60px;
  }

  /* WORKING SECTION */

  .working-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  /* MENU SECTION */

  .Item-container {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .item-box {
    width: 300px;
    height: 420px;
  }

  .item-box figure img {
    width: 250px;
    margin-left: 12px;
  }

  .item-box button {
    margin-left: 100px;
    margin-top: 20px;
  }

  .item-box h2 {
    text-align: center;
    margin-bottom: 1px;
  }

  /* REVIEW SECTION */

  .review-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .review-content figure img {
    width: 500px;
    margin-left: 150px;
  }

  /* ADVERTISE SECTION */

  .ADS {
    margin: 10px;
    margin-top: 150px;
  }

  .ads-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 550px;
    background-color: aqua;
    margin-left: 20px;
    padding: 20px;
  }

  .ads-img {
    width: 350px;
    height: 300px;
  }

  .ads-img img {
    width: 100%;
  }

  .ads-content {
    position: relative;
    bottom: 130px;
  }

  .ads-content h1 {
    font-size: 50px;
  }
  .ads-content p {
    font-size: 20px;
  }
}
