@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:wght@300..900&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:wght@300..900&family=Lobster&family=Quicksand:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #fffdf7;
}
a {
  text-decoration: none;
  color: black;
}

/* NAVBAR STYLING SECTION  */

.navbar-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2.5rem;
}

.nav-link li {
  font-size: 1.3rem;
}

.nav-link li a:hover {
  color: orange;
  font-weight: 500;
}

.sign-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.cart-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign {
  background-color: gold;
  padding: 9px 20px;
  border-radius: 14px;
  color: white;
  font-size: 1.6rem;
  font-weight: 900;
  border: none;
  outline: none;
  transition: all 0.8s ease-in-out 0s;
}

.sign:hover {
  background-color: black;
}

i {
  font-size: 1.9rem;
}
.logo a {
  color: gold;
}

.cart {
  width: 28px;
  height: 28px;
  background-color: green;
  color: white;
  border-radius: 50%;
  position: relative;
  right: 20px;
  top: 10px;
}

.cart span {
  font-size: 1.5rem;
  margin-left: 8px;
}

#humburgerIcon {
  display: none;
}

/* HERO SECTION START*/

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-img img {
  width: 800px;
  height: 700px;
  position: relative;
  left: 55px;
}

.hero-content {
  margin-left: 50px;
}

.hero-content h1 {
  font-size: 4.5rem;
}

.hero-content span {
  color: gold;
}

.hero-content p {
  font-size: 1.3rem;
  margin-top: 18px;
  line-height: 34px;
  color: #000000af;
}

.hero-social {
  margin-top: 20px;
}

.hero-social button {
  padding: 10px 18px;
  border: none;
  outline: none;
  background-color: gold;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  transition: all 0.6s ease-in-out 0s;
}

.hero-social button:hover {
  box-shadow: 4px 4px 17px red, -4px -4px 17px red;
}

.hero-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.hero-icon {
  width: 45px;
  height: 45px;
  background-color: gold;
  border-radius: 50%;
  transition: all 0.6s ease-in-out 0s;
  box-shadow: 6px 6px 20px deeppink, -6px -6px 20px deeppink;
}

.hero-icon:hover {
  box-shadow: 6px 6px 20px red, -6px -6px 20px red;
  transform: scale(1.1);
}

.icons {
  display: flex;
  gap: 25px;
}

.hero-icon i {
  margin-top: 8px;
  margin-left: 4px;
}

.fa-instagram {
  color: red;
}

.fa-facebook {
  color: blue;
}

.fa-snapchat {
  color: #fb0202;
}

/* HOW DOES WORK SECTION */

.working-section {
  margin-top: 80px;
}

.working-point {
  display: flex;
  justify-content: space-around;
}

.box-1 img {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.working-content {
  text-align: center;
  margin-bottom: 50px;
}

.box-1 h1 {
  margin-bottom: 15px;
}

.menu-section {
  margin-top: 10rem;
}

.menu-section h1 {
  text-align: center;
  font-size: 50px;
}

.menu-section h4 {
  text-align: center;
  color: gold;
}

.item-box {
  width: 300px;
  height: 360px;
  border: 2px solid gold;
  border-radius: 15px;
  box-shadow: inset 5px 5px 10px grey, inset -5px -5px 10px grey;
  background-color: white;
  padding: 15px;
}

.item-box figure img {
  width: 200px;
  margin-left: 30px;
}

.item-box h2 {
  text-align: center;
  margin-bottom: 14px;
}

.item-box p {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: gold;
}
.item-box button {
  margin-left: 80px;
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 17px;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: gold;
  color: white;
  font-weight: 800;
  transition: all 0.6s ease-in-out;
}

.item-box button:hover {
  background-color: black;
}

.Item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  padding: 20px;
}

.spring-roll figure img {
  margin-top: 20px;
}

.spring-roll h2 {
  margin-top: 40px;
}

/* REVIEW SECTION */

.review-section {
  margin-top: 90px;
  padding: 20px;
}

.review-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.review-section h1 {
  text-align: center;
}

.review-content figure img {
  position: relative;
  right: 80px;
  width: 800px;
}

.user-review {
  display: flex;
  align-items: center;
}

.user-review img {
  width: 100px;
}

.review-content p {
  line-height: 26px;
}

.review-box h3 {
  color: gold;
}

.review-box h1 {
  margin-bottom: 30px;
  margin-right: 40px;
  font-size: 50px;
}

/* ADVERTISE SECTION */

.ADS {
  margin: 40px;
}

.ads-section {
  display: flex;
  justify-content: center;
  gap: 80px;
  background-color: #f5db4e;
  border-radius: 10px;
}

.ads-img {
  width: 800px;
  height: 800px;
}

.ads-img img {
  width: 100%;
}

.ads-content {
  margin-top: 150px;
}

.ads-content h3 {
  font-size: 25px;
  color: green;
}

.ads-content h1 {
  font-size: 60px;
  background: linear-gradient(145deg, red, deeppink, deepskyblue);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ads-content p {
  margin-top: 20px;
  margin-left: 15px;
  line-height: 24px;
}

.ads-content button {
  margin-top: 15px;
  margin-left: 15px;
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  border-radius: 5px;
  color: white;
}

/* SUBSCRIBE SECTION  */

.subscribe-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-content h3 {
  text-align: center;
  color: gold;
  font-size: 1.5rem;
}

.subscribe-content h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "Lobster", sans-serif;
  background: linear-gradient(150deg, deepskyblue, #00ff00, aqua);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subscribe-content p {
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
}

.input-section {
  margin-top: 40px;
  background-color: white;
  padding: 9px 18px;
  border-radius: 10px;
  box-shadow: 4px 4px 20px grey, -4px -4px 20px grey;
}
.input-section input {
  width: 450px;
  height: 50px;
  padding: 0 15px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: 4px 4px 12px grey, -4px -4px 12px grey;
}

.input-section button {
  padding: 15px 16px;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: gold;
  color: white;
  margin-left: 12px;
}

/* FOOTER SECTION */
